*
{
    padding: 0px;
    margin: 0px;
}
.flex-container
{
    display: flex;
    padding: 0px ;
    border: 1px solid black;
    flex-direction: row;
    
}
.sub-flex-container
{
    display: flex;
    border: 2px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1px;
    column-gap:1px;
    overflow-x: hidden;
    padding: 1px;
   
}
.sub-1  /* header */
{
    width: 100vw;
    height: 60px;
    background-color: black;
   
  
}
.sub-2
{
    width: 100vw;
    height: 30vw;
    background-color: white;;
    overflow-x: hidden;
    overflow-y: hidden; 
   border:1px solid black;
    text-align:justify;
    justify-content: center;
   
    font-size: 18px;
}
img
{
    width: 100vw;
    height: 30vw;
}
.sub-3
{
    width: 100vw;
    height: 30vw;
    background-color: white;;
    overflow-x: hidden;
    overflow-y: scroll; 
   border:1px solid black;
    text-align:justify;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}
.sub-4
{
    width: 100vw;
    height: 30vw;
    background-color: white;;
    overflow-x: hidden;
    overflow-y: scroll; 
   border:1px solid black;
    text-align:justify;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}
.sub-5
{
    width: 100vw;
    height: 30vw;
    background-color: white;;
    overflow-x: hidden;
    overflow-y: scroll; 
   border:1px solid black;
    text-align:justify;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}
.sub-6
{
    width: 100vw;
    height: 30vw;
    background-color: white;;
    overflow-x: hidden;
    overflow-y: scroll; 
   border:1px solid black;
    text-align:justify;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
   
  }
::-webkit-scrollbar-thumb {
    background: black; 
  }
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
